@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #333333;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 28px;
  position: relative;
  font-family: "Lato", sans-serif;
}

.section__title::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  width: 60px;
  height: 4px;
  background: #fff;
}

@media (max-width: 767px) {
  .section__title::after {
    width: 42px;
    height: 3px;
  }
}

@media (max-width: 767px) {
  .section__title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.section {
  padding: 100px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

/*====================================================================================
#	header
===================================================================================== */
.header {
  background: #fff;
  height: 80px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}

li:not(:first-child) {
  margin-left: 40px;
}

li a {
  color: #333333;
  text-decoration: none;
  position: relative;
}
