@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Qwitcher+Grypen:wght@700&display=swap');


$color-main: #3EA1D1B3;
// $color-main: #0bd;
$color-sub-main: #fff;
$color-accent: #E81919;
$color-text: #686868;
$color-btn: #0bd;
// $color-btn: #686868;
$color-title: #0bd;

$font-en: 'Lato', sans-serif;
$font-ja: 'Noto Sans JP', sans-serif;

// レイアウト幅
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  'pc': "(min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-ja;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;

  // @include mq('tab') {
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }

  @include mq('sp') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 18px; //下のバーの高さ分
  position: relative;
  font-family: $font-en;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 100px;
    height: 1px;
    background: $color-title;

    @include mq('sp') {
      width: 42px;
      height: 3px;
    }
  }

  @include mq('sp') {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.section {
  padding: 100px 0 120px;

  @include mq('sp') {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

/*====================================================================================
#	header
===================================================================================== */
.header {
  background: rgba($color-sub-main, $alpha: 0.6);
  height: 80px;
  position: fixed;
  width: 100%;
  // box-shadow: 0 3px 3px rgba(#000000, 0.16);
  z-index: 100;
  top: 0;
  left: 0;
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;

  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: $font-en;
}

li {

  &:not(:first-child) {
    margin-left: 5px;
    &::before {
      content: "/";
      margin-right: 5px;
    }
  }


  a {
    color: $color-text;
    text-decoration: none;
    transition: all 0.4s ease 0s;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 100%;
      height: 1px;
      background: transparent;
      transform-origin: left;
      transform: scale(0, 1);
      transition: all .5s ease 0s;
    }

    &:hover,
    &.is-active {
      &::after {
        background: $color-text;
        transform: scale(1, 1);
      }
    }    
  }
}

/*====================================================================================
#	drawer
===================================================================================== */
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;

  @include mq('sp') {
    display: block;
  }

  &.is-active {
    transform: translate(-200px);
  }

  .drawer-icon__bar1 {
    transform: rotate(-45deg);
    top: 8px;
  }

  .drawer-icon__bar2 {
    display: none;
  }

  .drawer-icon__bar3 {
    transform: rotate(45deg);
    top: 8px;
  }
}

.drawer-icon__bars {
  width: 22px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 22px;
  height: 4px;
  background: #fff;
  top: 0;
  left: 0;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0 0 3px rgba(#000000, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is-active {
    transform: translateX(0);
  }
}

.drawer-content__items {
  
}

.drawer-content__item {
  border-bottom: 1px dotted #707070;

  a {
    display: block;
    color: #707070;
    text-decoration: none;
    padding: 18px 20px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 8px;
      height: 11px;
      background: url(../img/arrow-b@2x.png) no-repeat center center / contain;
    }
  }
}

.drawer-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, 0.16);
  z-index: 298;
  display: none;

  &.is-active {
    display: block;
  }
}

/*====================================================================================
#	main-visual
===================================================================================== */
.main-visual {
  height: 600px;
  width: 100%;
  // background: url(../img/water.png) no-repeat center center / cover;
  background: url(../img/waves.jpg) no-repeat center center / cover;
  position: relative;
  margin-top: 80px;

  @include mq('sp') {
    margin-top: 60px;
    height: 420px;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-visual__title {
  color: rgb(104, 104, 104);
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 200px;
  line-height: 1;
}

.main-visual__lead {
  color: rgb(104, 104, 104);
  font-size: 24px;

  .main-visual__lead--font {
    font-size: 30px;
  }
}

.main-visual__btn {
  margin-top: 30px;
}

.main-visual__btn-link {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: $color-btn;
  box-shadow: 0 3px 6px rgba(#000000, 0.16);
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s;

  &:hover {
    background: $color-sub-main;
    color: $color-btn;
  }
}

/*====================================================================================
#	profile
===================================================================================== */
.profile {

}

.profile__inner {

}

.profile__head {

}

.profile__content {
  margin-top: 50px;
  display: flex;
}

.profile__img {
  width: 50%;
  text-align: center;
  
  img {
    width: 500px;
    max-width: 100%;
  }
}

.profile__text {
  margin-left: 30px;
  width: 50%;
}

.profile__name {
  // margin-top: 30px;
  font-size: 36px;
}

.profile__desc {
  text-align: justify;
  margin-top: 24px;
  font-size: 24px;
}




/*=================================================================================
# service
==================================================================================*/
.service {

}

.service__inner {

}

.service__head {

}

.service__area {
  margin-top: 50px;
  padding: 50px 45px;
  border: 10px solid #686868;
  position: relative;
}

.service__copy {
  position: absolute;
  background: #fff;
  font-size: 30px;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  writing-mode: vertical-rl;
  height: 250px;
  text-align: center;
}

.service__clearfix {
  display: flex;
  justify-content: center;
}

.service__box {
  width: 25%;
  border: 2px solid #686868;
  border-radius: 10px;
  padding: 30px 15px 50px;
  transition: transform 0.3s;

  &:not(:first-child) {
    margin-left: 24px;
  }

  &:hover {
    transform: scale(110%);
  }
}

.service__img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border: solid 3px #eee;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    padding: 5px;
  }
}

.service__content {
  width: 100%;
}

.service__name {
  margin-top: 3px;
  text-align: center;
  font-weight: 500;
}

.service__text {
  margin: 20px 0 0;
}


/*====================================================================================
#	company
===================================================================================== */

.company {
  background: url(../img/sea.jpg) no-repeat center center / cover ;
  background-attachment: fixed;
  color: #fff;
}

.company__inner {

}

.company__head {

}

.company__info {
  width: 800px;
  max-width: 100%;
  margin: 50px auto 0;
}

.company__info-row {
  display: flex;
  border-bottom: 1px solid $color-text;
  padding-bottom: 3px;

  &:not(:first-child) {
    margin-top: 15px;
  }
}

.company__dt {
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: 700;
}

.company__dd {
  margin: 0;
  padding: 0;
}

/*====================================================================================
#	performance
===================================================================================== */

.performance {

}

.performance__inner {

}

.performance__head {

}

.performance__content {
  margin-top: 100px;
}

.performance__imgs {
}

.performance__img {
  // transform: scale(0, 1);

  a {
    &:hover {
      transform: scale(1, 1);
    }
  }
}


/*====================================================================================
#	price
===================================================================================== */
.price {

}

.price__inner {

}

.price__head {

}

.price__lead {
  text-align: center;
  margin-top: 40px;
}

.price__content {
  max-width: 900px;
  margin: 50px auto 0;
}

.price__row {
  // width: inherit;
  display: flex;
  margin-top: 30px;
}

.price__wrap {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price__text-bg-color {
  background-color: #f7f7f7;
}

.price__price-bg-color {
  background-color: $color-main;
  // background-color: #8BC1C9;
  // background-color: #0bd;
  // background-color: #c0c0c0;
}

.head-message {
  font-size: 3rem;
  letter-spacing: 20px;
}

.price-plan {
  margin-bottom: 0;
}

.col__text,
.col__price {
  // width: 50%;
  // height: 300px;
  font-size: 1.3rem;
  text-align: center;

  
  // p {
  //   margin: 0;
  //   padding: 0;
  // }
}


.col__text {
  
}

.col__price {
  color: #fff;
}

.price-tag {
  font-size: 2.5rem;
  margin-bottom: 40px;
}


/*====================================================================================
#	contact
===================================================================================== */
.contact {
  background: url(../img/sand.jpg) no-repeat center center / cover;
  background-attachment: fixed;

  @include mq('sp') {
  
  }
}

.contact__inner {

}

.contact__head {

}

.contact-form {
  margin-top: 64px;

  @include mq('sp') {
    margin-top: 33px;
  }
}

.contact-form__required {
  text-align: center;
  font-size: 14px;
}

.contact-form__item {
  color: #E7728E;
  font-size: 16px;
}

.contact-form__dl {
  max-width: 510px;
  margin: 18px auto 0;

  @include mq('sp') {
    max-width: 350px;
  }
}

.contact-form__row {
  display: flex;

  @include mq('sp') {
    display: block;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }
}


.contact-form__label {
  margin: 0;
  padding: 0;
  flex: 0 0 180px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: $color-main;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;

  @include mq('sp') {
    display: inline-block;
    text-align: left;
    padding: 0 16px;
  }

  @include mq('pc') {
    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -8px;
      border-style: solid;
      border-width: 20px 0 20px 8px;
      border-color: transparent transparent transparent $color-main;
    }
  }

  @include mq('tab') {
    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -8px;
      border-style: solid;
      border-width: 20px 0 20px 8px;
      border-color: transparent transparent transparent $color-main;
    }
  }

  & .contact-form__item {
    font-size: 12px;
    vertical-align: super;
    line-height: 1;
  }

  label {
    display: inline-block;
    width: 180px;
    height: 40px;

    @include mq('sp') {
        width: 100%;
      }
  }
}

.contact-form__input {
  flex: 0 1 100%;

  @include mq('sp') {
    margin: 3px 0 0;
  }

  [type="text"] {
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }

  [type="email"] {
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }

  [type="tel"] {
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }

  position: relative;

  [type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked + .contact-form__parts {
      background: $color-main;
      color: #fff;
      border-radius: 1px;
    }

    &:focus-visible + .contact-form__parts {
      outline: -webkit-focus-ring-color auto 1px;;
    }
  }

  .contact-form__parts {
    display: block;
    background: #fff;
    color: $color-main;
    height: 38px;
    line-height: 38px;
    width: 80px;
    text-align: center;
    transition: background-color .4s, color .4s;
  }

  .contact-form__radio-wrap {
    display: inline-flex;
    // display: flex;
    border: 1px solid #fff;
    border-radius: 1px;
    box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  }
  
  textarea {
    min-height: 120px;
    resize: vertical;
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }
}

.contact-form__check {
  margin-top: 33px;
  text-align: center;

  @include mq('sp') {
    margin-top: 27px;
  }
}

.checkbox-wrap {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 22px;
  width: 22px;
  
  [type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  
    &:checked + .checkbox-parts {
      width: 10px;
      border-top: 0;
      border-left: 0;
      border-right: 4px solid $color-main;
      border-bottom: 4px solid $color-main;
      background: transparent;
      transform: rotate(45deg);
      top: -5px;
      left: 5px;
    }

    &:focus-visible + .checkbox-parts {
      outline: -webkit-focus-ring-color auto 1px;;
    }

    &:checked:focus-visible + .checkbox-parts {
      outline: none;
    }
  }
}

.checkbox-parts {
  position: absolute;
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid $color-main;
  background: #fff;
  top: 0;
  left: 0;
  transition: all .2s;
}

.contact-form__button {
  margin-top: 51px;
  text-align: center;

  @include mq('sp') {
    margin-top: 29px;
  }

  [type="submit"] {
    display: inline-block;
    background: #fff;
    border: 1px solid $color-main;
    border-radius: 0;
    color: #0bd;
    width: 137px;
    height: 46px;
    font-size: 14px;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
    font-weight: 700;

    &.-active {
      background: $color-main;
      color: #fff;
    }
  }
}

.contact__message {
  text-align: center;
  margin-top: 60px;
  display: none;

  &.-error {
    color: #f00;
  }
}