@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Qwitcher+Grypen:wght@700&display=swap');


$color-main: #555555;
$color-main2: #3EA1D1;
// $color-main3: #3EA1D1B3;
$color-accent: #E81919;
$color-text: #686868;
$color-btn: #686868;
$color-title: #0bd;
$color-back: #F1F1F1;
// $color-back: #F4F4F4;

$font-en: 'Lato', sans-serif;
$font-ja: 'Noto Sans JP', sans-serif;

// レイアウト幅
$layout-width-inner: 1200px;

// ブレークポイント
$breakpoints: (
  'sp': "(max-width: 767px)",
  'tab': "(min-width: 768px) and (max-width: #{$layout-width-inner - 1px})",
  'pc': "(min-width: #{$layout-width-inner})",
);

// メディアクエリー
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: $font-ja;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: $color-text;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.inner {
  width: $layout-width-inner;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  // @include mq('tab') {
  //   padding-left: 24px;
  //   padding-right: 24px;
  // }

  @include mq('sp') {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 18px; //下のバーの高さ分
  position: relative;
  font-family: $font-en;

  &::after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    bottom: 0px;
    width: 100px;
    height: 1px;
    background: $color-title;

    @include mq('sp') {
      width: 42px;
      height: 1px;
    }
  }

  @include mq('sp') {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.section {
  padding: 100px 0 120px;

  @include mq('sp') {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

/*====================================================================================
#	header
===================================================================================== */
.header {
  // background: rgba($color-back, $alpha: 0.6);
  // background: rgba($color-sub-main, $alpha: 0.6);
  height: 80px;
  position: fixed;
  width: 100%;
  // box-shadow: 0 3px 3px rgba(#000000, 0.16);
  z-index: 100;
  top: 0;
  left: 0;

  @include mq('sp') {
    height: 60px;
  }
}

.header-change-color {
  background: rgba($color-back, 0.6);
  box-shadow: 0 3px 3px rgba(#000000, 0.16);
}

.header__inner {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 8px;
}

.header__logo {
  width: 205px;

  @include mq('sp') {
    width: 150px;
  }

  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-family: $font-en;

  @include mq('sp') {
    display: none;
  }
}

.header__nav-item {

  &:not(:first-child) {
    margin-left: 5px;

    &::before {
      content: "/";
      margin-right: 5px;
    }
  }


}

.header__nav-link {
  color: $color-text;
  text-decoration: none;
  letter-spacing: 3px;
  transition: all 0.4s ease 0s;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 1px;
    background: transparent;
    transform-origin: left;
    transform: scale(0, 1);
    transition: all .5s ease 0s;
  }

  &:hover,
  &.is-active {
    &::after {
      background: $color-main;
      transform: scale(1, 1);
    }
  }
}

/*====================================================================================
#	drawer
===================================================================================== */
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;

  @include mq('sp') {
    display: block;
  }

  &.is-active {

    .drawer-icon__bar1 {
      transform: rotate(45deg);
      top: 8px;
    }

    .drawer-icon__bar2 {
      display: none;
    }

    .drawer-icon__bar3 {
      transform: rotate(-45deg);
      top: 8px;
    }
  }
}

.drawer-icon__bars {
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 30px;
  height: 2px;
  background: $color-text;
  top: 0;
  left: 0;
  transition: all 0.3s ease 0s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: $color-text;
  // background-color: $color-main;
  // box-shadow: 0 0 3px rgba(#000000, 0.16);
  z-index: 299;
  transform: translateX(105%);
  transition: transform 0.5s ease 0s;

  &.is-active {
    transform: translateX(0);
  }
}

.drawer-content__items {}

.drawer-content__item {}

.drawer-link {
  font-size: 18px;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 40px 15px 0 0;
  // padding: 18px 20px;
  text-align: right;
  position: relative;
  letter-spacing: 3px;
}

.drawer-background {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000000, 0.7);
  z-index: 298;
  display: none;

  &.is-active {
    display: block;
  }
}

/*====================================================================================
#	main-visual
===================================================================================== */
.main-visual {
  height: 100vh;
  width: 100%;
  background: url(../img/main-visual.jpg) no-repeat center center / cover;
  // background-attachment: fixed;
  position: relative;
  // margin-top: 80px;

  @include mq('sp') {
    background: url(../img/main-visual-sp.jpg) no-repeat center center / cover;
    // margin-top: 60px;
    height: 100vh;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-attachment: fixed;
  text-align: center;

  @include mq('sp') {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.main-visual__title {
  // color: rgb(104, 104, 104);
  color: $color-text;
  // color: #000;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 120px;
  line-height: 1;

  @include mq('sp') {
    font-size: 80px;
  }
}

.main-visual__lead {
  // color: rgb(104, 104, 104);
  color: $color-text;
  // color: #000;
  font-size: 24px;

  @include mq('sp') {
    font-size: 18px;
  }

  .main-visual__lead--font {
    font-size: 30px;
  }
}

.main-visual__btn {
  margin-top: 30px;
}

.main-visual__btn-link {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: $color-btn;
  box-shadow: 0 3px 6px rgba(#000000, 0.16);
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s;

  &:hover {
    background: #fff;
    color: $color-btn;
  }
}

/*====================================================================================
#	about
===================================================================================== */
.about {
  background-color: #fff;
  // background-color: $color-back;
}

.about__inner {}

.about__head {}

.about__content {
  margin-top: 80px;
  display: flex;
  // box-shadow: 16px 16px 10px $color-main2;
  box-shadow: 10px 10px 10px $color-text;
  // box-shadow: 10px 10px 10px #3EA1D1B3;

  @include mq('sp') {
    display: block;
    box-shadow: none;
  }
}

.about__img {
  width: 50%;
  text-align: center;

  @include mq('sp') {
    width: 100%;
  }

  img {
    // width: 500px;
    max-width: 100%;
    height: 100%;

    @include mq('sp') {
      max-height: 100%;
    }
  }
}

.about__text {
  padding: 30px 20px 20px 30px;
  width: 50%;
  background-color: #E5E0DB;

  @include mq('sp') {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
}

.about__name {
  // margin-top: 30px;
  font-size: 30px;

  @include mq('sp') {
    font-size: 20px;
  }
}

.about__desc {
  text-align: justify;
  margin-top: 24px;
  font-size: 16px;

  @include mq('sp') {
    margin-top: 18px;
    font-size: 14px;
  }
}


/*====================================================================================
#	company
===================================================================================== */

.company {
  background: url(../img/mac.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  color: #fff;
}

.company__inner {}

.company__head {}

.company__info {
  width: 800px;
  max-width: 100%;
  margin: 50px auto 0;
}

.company__info-row {
  display: flex;
  border-bottom: 1px solid $color-text;
  padding-bottom: 3px;

  &:not(:first-child) {
    margin-top: 15px;
  }

  @include mq('sp') {
    display: block;
  }
}

.company__dt {
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: 700;
}

.company__dd {
  margin: 0;
  padding: 0;

  @include mq('sp') {
    margin-left: 14px;
  }
}

/*=================================================================================
# service
==================================================================================*/
.service {
  // background-color: #fff;
  background-color: $color-back;
}

.service__inner {}

.service__head {}

.service__container {
  margin-top: 50px;
}

.service__items {
  display: flex;

  @include mq('sp') {
    display: block;
  }
}

.service__item {
  background-color: #fff;
  width: 50%;
  padding: 20px;
  margin: 30px 30px 0;
  box-shadow: 0 0 10px $color-text;
  // box-shadow: 0 0 10px $color-main;
  // box-shadow: 0 0 10px #9cc5c7;

  @include mq('sp') {
    width: 100%;
    margin: 0;


    &:not(:first-child) {
      margin-top: 30px;
    }
  }
}


.service__item-icon {
  color: #a58e84;
  // color: $color-main;
  // color: #9cc5c7;
  font-size: 48px;
  text-align: center;
  padding: 10px;
}

.service__item-body {
  
}

.service__item-title {
  // color: #a58e84;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  text-align: center;

  @include mq('sp') {
    font-size: 20px;
  }
}

.service__item-text {
  // color: #a58e84;
  font-size: 18px;
  line-height: 1.2;
  padding: 10px;

  @include mq('sp') {
    font-size: 16px;
  }

  p {
    // height: 30px;
    @include mq('sp') {
      text-align: center;
    }
  }
}

.service__item-ul {
  display: inline-block;
  padding-left: 8%;
  padding-top: 10px;
}

.service__item-li {
  padding-top: 8px;
  list-style: disc;
}

.text-underline {
  background: linear-gradient(transparent 95%, $color-main2 0%);
  // background: linear-gradient(transparent 80%, #9cc5c7 0%);
}



/*====================================================================================
#	work
===================================================================================== */

.work {
  background-color: #fff;
  // background-color: $color-back;
}

.work__head {}

.work__inner {
  padding-left: 80px;
  position: relative;

  @include mq('sp') {
    padding-left: 20px;
  }
}

.work__sub-head {
  position: absolute;
  width: 200px;
  text-align: center;
  background: #fff;
  letter-spacing: 1px;
  font-size: 35px;
  top: -25px;
  left: 130px;
  z-index: 2;

  @include mq('sp') {
    width: 100px;
    font-size: 20px;
    top: -15px;
    left: 80px;
  }
}

.work__content {
  margin-top: 100px;
  // border: 10px solid #686868;
  border: solid #686868;
  border-width: 10px 0px 10px 10px;

  @include mq('sp') {
    border-width: 5px 0px 5px 5px;
  }
}

.work__items {
  padding: 50px 0 0 30px;
}

.work__item {
  // border: 2px solid $color-text;
  box-shadow: 0 0 10px $color-text;
  padding: 2px;
}

.work__link {
  text-decoration: none;
  transition: opacity .2s;

  &:hover {
    opacity: 0.7;
  }
}

.work__img {
  background-color: #fff;
  padding-top: (205 / 400 * 100%);
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    transition: transform .4s;
  }
}

//swiper---------------


element.style {}

.swiper-pagination {
  text-align: left;
  position: static;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 30px;

  @include mq('sp') {
    margin-top: 24px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: $color-text;
  opacity: 1;
  margin: 0 10px !important;
  position: relative;

  &.swiper-pagination-bullet-active:after {
    position: absolute;
    content: '';
    border: 1px solid $color-text;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:focus-visible {
    outline: none;
  }
}

/*====================================================================================
#	price
===================================================================================== */
.price {
  // background-color: #fff;
  background-color: $color-back;
}

.price__inner {
  
}

.price__head {}

.price__lead {
  text-align: center;
  margin-top: 40px;
}

.price__main-inner {
  
}

.price__pattern {
  margin: 120px 0 40px;
  display: flex;
  justify-content: space-between;

  @include mq('tab') {
    display: block;
    padding: 0 4px;
    // margin: 80px 0 35px;
  }

  @include mq('sp') {
    display: block;
    padding: 0 4px;
    // margin: 60px 0 30px;
  }
}

.price__box {
  max-width: 360px;

  &.ptn01 {
    border: 1px solid #EBE8E3;

    @include mq('tab') {
      margin: auto;
    }

    @include mq('sp') {
      margin: auto;
    }
  }

  &.ptn02 {
    border: 1px solid #E3D8D3;

    @include mq('tab') {
      margin: 50px auto 0;
    }

    @include mq('sp') {
      margin: 50px auto 0;
    }
  }

  &.ptn03 {
    border: 1px solid #C9C6D5;

    @include mq('tab') {
      margin: 50px auto 0;
    }

    @include mq('sp') {
      margin: 50px auto 0;
    }
  }
}

.p__head {
  padding: 40px 26px 16px;
  position: relative;

  h3 {
    color: $color-text;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.2;
    margin-bottom: 24px;
    padding-left: 0.4em;

    span {
      font-size: 14px;
      display: block;
    }
  }

  li {
    border-radius: 100px;
    background: #fff;
    padding: 8px 8px 8px 12px;
    margin-bottom: 8px;
    font-size: 14px;

    i {
      padding-right: 10px;
    }
  }
}

.fo-maru {

  span {}
}

.p__content {
  background: #fff;
  text-align: center;

  ul {
    height: 430px;
    padding-top: 12px;
  }

  li {
    font-size: 13px;
    padding: 12px 0 8px;
    line-height: 1.5;

    &:nth-child(even) {
      background: #F4F4F5;
    }
  }

  i {
    font-size: 28px;
    padding: 0 4px 6px;
  }

  .sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-text;
    padding: 1.5em 1em;
  }
}

.icon-m {

  i {
    font-size: 22px;
  }
}

.icon-s {

  i {
    font-size: 18px;
  }
}

.sum {

  dt {
    font-size: 16px;
  }
}

.p-txt {
  margin: 0;
  background: #fff;
  padding: 20px 24px;
  font-size: 14px;
  line-height: 1.8;
}

.ptn01 {

  .p__head {
    background: #EBE8E3;
  }

  .p__content {

    .sum {
      background: #EBE8E3;

      dd {
        font-size: 22px;
      }
    }
  }
}

.ptn02 {

  .p__head {
    background: #E3D8D3;
  }

  .p__content {

    .sum {
      background: #E3D8D3;

      dd {
        font-size: 22px;
      }
    }
  }
}

.ptn03 {

  .p__head {
    background: #C9C6D5;
  }

  .p__content {

    .sum {
      background: #C9C6D5;

      dd {
        font-size: 22px;
      }
    }
  }
}




/*====================================================================================
#	contact
===================================================================================== */
.contact {
  // background: url(../img/wave.jpg) no-repeat center center / cover;
  // background-attachment: fixed;
  background-color: #fff;
  // background-color: $color-back;

  @include mq('sp') {}
}

.contact__inner {}

.contact__head {}

.contact-form {
  margin: 64px auto 30px;
  max-width: 800px;
  padding: 80px 4px 80px;
  background-color: #E5E0DB;

  // @include mq('tab') {
  //   padding: 30px 4px 30px;
  // }

  @include mq('sp') {
    margin-top: 33px;
    padding: 30px 4px 30px;
    max-width: 460px;
  }
}

.contact-form__required {
  text-align: center;
  font-size: 14px;
}

.contact-form__item {
  color: #E7728E;
  font-size: 16px;
}

.contact-form__dl {
  max-width: 510px;
  margin: 18px auto 0;

  @include mq('sp') {
    max-width: 350px;
  }
}

.contact-form__row {
  display: flex;

  @include mq('sp') {
    display: block;
    padding: 0 4px 0;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }
}


.contact-form__label {
  margin: 0;
  padding: 0;
  flex: 0 0 180px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: $color-main;
  // background: $color-main2;
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;

  @include mq('sp') {
    display: inline-block;
    text-align: left;
    padding: 0 16px;
  }

  @include mq('pc') {
    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -8px;
      border-style: solid;
      border-width: 20px 0 20px 8px;
      border-color: transparent transparent transparent $color-main;
      // border-color: transparent transparent transparent $color-main2;
    }
  }

  @include mq('tab') {
    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: -8px;
      border-style: solid;
      border-width: 20px 0 20px 8px;
      border-color: transparent transparent transparent $color-main;
      // border-color: transparent transparent transparent $color-main2;
    }
  }

  & .contact-form__item {
    font-size: 12px;
    vertical-align: super;
    line-height: 1;
  }

  label {
    display: inline-block;
    width: 180px;
    height: 40px;

    @include mq('sp') {
      width: 100%;
    }
  }
}

.contact-form__input {
  flex: 0 1 100%;

  @include mq('sp') {
    margin: 3px 0 0;
  }

  [type="text"] {
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }

  [type="email"] {
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }

  [type="tel"] {
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }

  position: relative;

  [type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked+.contact-form__parts {
      background: $color-main;
      // background: $color-main2;
      color: #fff;
      border-radius: 1px;
    }

    &:focus-visible+.contact-form__parts {
      outline: -webkit-focus-ring-color auto 1px;
      ;
    }
  }

  .contact-form__parts {
    display: block;
    background: #fff;
    color: $color-text;
    // color: $color-main;
    height: 38px;
    line-height: 38px;
    width: 80px;
    text-align: center;
    transition: background-color .4s, color .4s;
  }

  .contact-form__radio-wrap {
    display: inline-flex;
    // display: flex;
    border: 1px solid #fff;
    border-radius: 1px;
    box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
  }

  textarea {
    min-height: 120px;
    resize: vertical;
    box-shadow: 5px 6px 15px rgba(#000, 0.16);
    border: none;
    background: #fff;
    height: 40px;
    padding: 10px 16px;
    appearance: none;
    border-radius: 0;
    color: inherit;
    font-family: inherit;
    font-size: 18px;
    width: 100%;
  }
}

.contact-form__check {
  margin-top: 33px;
  text-align: center;

  @include mq('sp') {
    margin-top: 27px;
  }
}

.checkbox-wrap {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 22px;
  width: 22px;

  [type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked+.checkbox-parts {
      width: 10px;
      border-top: 0;
      border-left: 0;
      border-right: 1px solid $color-text;
      border-bottom: 1px solid $color-text;
      background: transparent;
      transform: rotate(45deg);
      top: -5px;
      left: 5px;
    }

    &:focus-visible+.checkbox-parts {
      outline: -webkit-focus-ring-color auto 1px;
      ;
    }

    &:checked:focus-visible+.checkbox-parts {
      outline: none;
    }
  }
}

.checkbox-parts {
  position: absolute;
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid $color-text;
  background: #fff;
  top: 0;
  left: 0;
  transition: all .2s;
}

.contact-form__button {
  margin-top: 51px;
  text-align: center;

  @include mq('sp') {
    margin-top: 29px;
  }

  [type="submit"] {
    display: inline-block;
    background: #fff;
    border: 1px solid $color-text;
    border-radius: 0;
    color: $color-text;
    width: 137px;
    height: 46px;
    font-size: 14px;
    font-family: inherit;
    appearance: none;
    cursor: pointer;
    font-weight: 700;

    &.-active {
      background: $color-text;
      color: #fff;
    }
  }
}

.contact-form__privacy {
  color: $color-text;
  font-size: 18px;
  // font-weight: 700;
  // -webkit-text-stroke: 1px #fff;
  // text-shadow: #fff 1px 1px;
}

.contact__message {
  text-align: center;
  margin-top: 60px;
  display: none;

  &.-error {
    color: #f00;
  }
}

/*====================================================================================
#	footer
===================================================================================== */
.footer {
  // background-color: #0bd;
}

.footer__inner {}

.footer__content {
  padding: 30px;
  background-color: #F4F4F4;
}

.footer__logo {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 40px;
  text-align: center;
  line-height: 1;
}

// .footer__logo {
//   width: 180px;
//   margin: 0 auto;
//   img {
//     display: block;
//   }
// }

.footer__nav-list {}

.footer__nav-item {
  margin-top: 10px;
  text-align: center;
}

.footer__nav-link {
  text-decoration: none;
  font-size: 14px;
}

.footer__copy {
  padding: 25px;
  text-align: center;
  background-color: $color-main;
  color: #fff;
  font-size: 12px;
}

/*====================================================================================
#	totop
===================================================================================== */
.to-top {
  position: fixed;
  right: 24px;
  bottom: 5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 101;

  @include mq('sp') {
    right: 15px;
    bottom: 5px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  a {
    text-decoration: none;
    transition: all 0.7s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 20px;

      @include mq('sp') {
        width: 13px;
      }
    }
  }
}