@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Noto+Sans+JP:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Qwitcher+Grypen:wght@700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: #fff;
  color: #686868;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

.inner {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .inner {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 18px;
  position: relative;
  font-family: "Lato", sans-serif;
}

.section__title::after {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0px;
  width: 100px;
  height: 1px;
  background: #0bd;
}

@media (max-width: 767px) {
  .section__title::after {
    width: 42px;
    height: 1px;
  }
}

@media (max-width: 767px) {
  .section__title {
    font-size: 26px;
    padding-bottom: 18px;
  }
}

.section {
  padding: 100px 0 120px;
}

@media (max-width: 767px) {
  .section {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}

/*====================================================================================
#	header
===================================================================================== */
.header {
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.header__logo {
  width: 205px;
}

@media (max-width: 767px) {
  .header__logo {
    width: 150px;
  }
}

.header__logo img {
  display: block;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__nav-item:not(:first-child) {
  margin-left: 5px;
}

.header__nav-item:not(:first-child)::before {
  content: "/";
  margin-right: 5px;
}

.header__nav-link {
  color: #686868;
  text-decoration: none;
  letter-spacing: 3px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  position: relative;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: transparent;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.header__nav-link:hover::after, .header__nav-link.is-active::after {
  background: #3EA1D1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/*====================================================================================
#	drawer
===================================================================================== */
.drawer-icon {
  position: fixed;
  top: 20px;
  right: 16px;
  z-index: 300;
  display: none;
}

@media (max-width: 767px) {
  .drawer-icon {
    display: block;
  }
}

.drawer-icon.is-active .drawer-icon__bar1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 8px;
}

.drawer-icon.is-active .drawer-icon__bar2 {
  display: none;
}

.drawer-icon.is-active .drawer-icon__bar3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 8px;
}

.drawer-icon__bars {
  width: 30px;
  height: 20px;
  display: block;
  position: relative;
}

.drawer-icon__bar1,
.drawer-icon__bar2,
.drawer-icon__bar3 {
  position: absolute;
  width: 30px;
  height: 2px;
  background: #686868;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.drawer-icon__bar1 {
  top: 0;
}

.drawer-icon__bar2 {
  top: 8px;
}

.drawer-icon__bar3 {
  top: 16px;
}

.drawer-content {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  background-color: #686868;
  z-index: 299;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

.drawer-content.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.drawer-link {
  font-size: 18px;
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 40px 15px 0 0;
  text-align: right;
  position: relative;
  letter-spacing: 3px;
}

.drawer-background {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 298;
  display: none;
}

.drawer-background.is-active {
  display: block;
}

/*====================================================================================
#	main-visual
===================================================================================== */
.main-visual {
  height: 100vh;
  width: 100%;
  background: url(../img/main-visual.jpg) no-repeat center center/cover;
  position: relative;
}

@media (max-width: 767px) {
  .main-visual {
    background: url(../img/main-visual-sp.jpg) no-repeat right center/cover;
    height: 100vh;
  }
}

.main-visual__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 767px) {
  .main-visual__content {
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.main-visual__title {
  color: #686868;
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 120px;
  line-height: 1;
}

@media (max-width: 767px) {
  .main-visual__title {
    font-size: 80px;
  }
}

.main-visual__lead {
  color: #686868;
  font-size: 24px;
}

@media (max-width: 767px) {
  .main-visual__lead {
    font-size: 18px;
  }
}

.main-visual__lead .main-visual__lead--font {
  font-size: 30px;
}

.main-visual__btn {
  margin-top: 30px;
}

.main-visual__btn-link {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  background-color: #0bd;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-visual__btn-link:hover {
  background: #fff;
  color: #0bd;
}

/*====================================================================================
#	about
===================================================================================== */
.about {
  background-color: #fff;
}

.about__content {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 10px 10px 10px #686868;
          box-shadow: 10px 10px 10px #686868;
}

@media (max-width: 767px) {
  .about__content {
    display: block;
  }
}

.about__img {
  width: 50%;
  text-align: center;
}

@media (max-width: 767px) {
  .about__img {
    width: 100%;
  }
}

.about__img img {
  max-width: 100%;
  height: 100%;
}

.about__text {
  padding: 20px 20px 20px 30px;
  width: 50%;
  background-color: #F1F1F1;
}

@media (max-width: 767px) {
  .about__text {
    width: 100%;
    margin-top: 30px;
    margin-left: 0;
  }
}

.about__name {
  font-size: 30px;
}

@media (max-width: 767px) {
  .about__name {
    font-size: 20px;
  }
}

.about__desc {
  text-align: justify;
  margin-top: 24px;
  font-size: 16px;
}

@media (max-width: 767px) {
  .about__desc {
    margin-top: 18px;
    font-size: 14px;
  }
}

/*====================================================================================
#	company
===================================================================================== */
.company {
  background: url(../img/sea.jpg) no-repeat center center/cover;
  background-attachment: fixed;
  color: #fff;
}

.company__info {
  width: 800px;
  max-width: 100%;
  margin: 50px auto 0;
}

.company__info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #686868;
  padding-bottom: 3px;
}

.company__info-row:not(:first-child) {
  margin-top: 15px;
}

@media (max-width: 767px) {
  .company__info-row {
    display: block;
  }
}

.company__dt {
  margin: 0;
  padding: 0;
  width: 150px;
  font-weight: 700;
}

.company__dd {
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .company__dd {
    margin-left: 14px;
  }
}

/*=================================================================================
# service
==================================================================================*/
.service__container {
  margin-top: 50px;
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .service__items {
    display: block;
  }
}

.service__item {
  background-color: #fff;
  width: 50%;
  padding: 20px;
  margin: 30px 30px 0;
  -webkit-box-shadow: 0 0 10px #686868;
          box-shadow: 0 0 10px #686868;
}

@media (max-width: 767px) {
  .service__item {
    width: 100%;
    margin: 0;
  }
  .service__item:not(:first-child) {
    margin-top: 30px;
  }
}

.service__item-icon {
  color: #686868;
  font-size: 48px;
  text-align: center;
  padding: 10px;
}

.service__item-title {
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

@media (max-width: 767px) {
  .service__item-title {
    font-size: 20px;
  }
}

.service__item-text {
  font-size: 18px;
  line-height: 1.2;
  padding: 10px;
}

@media (max-width: 767px) {
  .service__item-text {
    font-size: 16px;
  }
}

.service__item-text p {
  height: 30px;
}

.service__item-ul {
  display: inline-block;
  padding-left: 8%;
  padding-top: 10px;
}

.service__item-li {
  padding-top: 8px;
  list-style: disc;
}

.text-underline {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(95%, transparent), color-stop(0%, #3EA1D1));
  background: linear-gradient(transparent 95%, #3EA1D1 0%);
}

/*====================================================================================
#	work
===================================================================================== */
.work {
  background-color: #F1F1F1;
}

.work__inner {
  padding-left: 80px;
  position: relative;
}

@media (max-width: 767px) {
  .work__inner {
    padding-left: 20px;
  }
}

.work__sub-head {
  position: absolute;
  width: 200px;
  text-align: center;
  background: #F1F1F1;
  letter-spacing: 1px;
  font-size: 35px;
  top: -25px;
  left: 130px;
  z-index: 2;
}

@media (max-width: 767px) {
  .work__sub-head {
    width: 100px;
    font-size: 20px;
    top: -15px;
    left: 80px;
  }
}

.work__content {
  margin-top: 100px;
  border: solid #686868;
  border-width: 10px 0px 10px 10px;
}

@media (max-width: 767px) {
  .work__content {
    border-width: 5px 0px 5px 5px;
  }
}

.work__items {
  padding: 50px 0 0 30px;
}

.work__item {
  -webkit-box-shadow: 0 0 10px #686868;
          box-shadow: 0 0 10px #686868;
  padding: 2px;
}

.work__link {
  text-decoration: none;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.work__link:hover {
  opacity: 0.7;
}

.work__img {
  background-color: #fff;
  padding-top: 51.25%;
  position: relative;
  overflow: hidden;
}

.work__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.swiper-pagination {
  text-align: left;
  position: static;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .swiper-pagination {
    margin-top: 24px;
  }
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #686868;
  opacity: 1;
  margin: 0 10px !important;
  position: relative;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active:after {
  position: absolute;
  content: '';
  border: 1px solid #686868;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.swiper-pagination-bullet:focus-visible {
  outline: none;
}

/*====================================================================================
#	price
===================================================================================== */
.price__lead {
  text-align: center;
  margin-top: 40px;
}

.price__pattern {
  margin: 120px 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .price__pattern {
    display: block;
    padding: 0 4px;
  }
}

.price__box {
  max-width: 360px;
}

.price__box.ptn01 {
  border: 1px solid #EBE8E3;
}

@media (max-width: 767px) {
  .price__box.ptn01 {
    margin: auto;
  }
}

.price__box.ptn02 {
  border: 1px solid #E3D8D3;
}

@media (max-width: 767px) {
  .price__box.ptn02 {
    margin: 50px auto 0;
  }
}

.price__box.ptn03 {
  border: 1px solid #C9C6D5;
}

@media (max-width: 767px) {
  .price__box.ptn03 {
    margin: 50px auto 0;
  }
}

.p__head {
  padding: 40px 26px 16px;
  position: relative;
}

.p__head h3 {
  color: #686868;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.2;
  margin-bottom: 24px;
  padding-left: 0.4em;
}

.p__head h3 span {
  font-size: 14px;
  display: block;
}

.p__head li {
  border-radius: 100px;
  background: #fff;
  padding: 8px 8px 8px 12px;
  margin-bottom: 8px;
  font-size: 14px;
}

.p__head li i {
  padding-right: 10px;
}

.p__content {
  background: #fff;
  text-align: center;
}

.p__content ul {
  height: 480px;
  padding-top: 12px;
}

.p__content li {
  font-size: 13px;
  padding: 12px 0 8px;
  line-height: 1.5;
}

.p__content li:nth-child(even) {
  background: #F4F4F5;
}

.p__content i {
  font-size: 28px;
  padding: 0 4px 6px;
}

.p__content .sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #686868;
  padding: 1.5em 1em;
}

.icon-m i {
  font-size: 22px;
}

.icon-s i {
  font-size: 18px;
}

.sum dt {
  font-size: 16px;
}

.p-txt {
  background: #fff;
  padding: 20px 24px;
  font-size: 14px;
  line-height: 1.8;
}

.ptn01 .p__head {
  background: #EBE8E3;
}

.ptn01 .p__content .sum {
  background: #EBE8E3;
}

.ptn01 .p__content .sum dd {
  font-size: 22px;
}

.ptn02 .p__head {
  background: #E3D8D3;
}

.ptn02 .p__content .sum {
  background: #E3D8D3;
}

.ptn02 .p__content .sum dd {
  font-size: 22px;
}

.ptn03 .p__head {
  background: #C9C6D5;
}

.ptn03 .p__content .sum {
  background: #C9C6D5;
}

.ptn03 .p__content .sum dd {
  font-size: 22px;
}

/*====================================================================================
#	contact
===================================================================================== */
.contact {
  background: url(../img/sand.jpg) no-repeat center center/cover;
  background-attachment: fixed;
}

.contact-form {
  margin-top: 64px;
}

@media (max-width: 767px) {
  .contact-form {
    margin-top: 33px;
  }
}

.contact-form__required {
  text-align: center;
  font-size: 14px;
}

.contact-form__item {
  color: #E7728E;
  font-size: 16px;
}

.contact-form__dl {
  max-width: 510px;
  margin: 18px auto 0;
}

@media (max-width: 767px) {
  .contact-form__dl {
    max-width: 350px;
  }
}

.contact-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .contact-form__row {
    display: block;
  }
}

.contact-form__row:not(:first-child) {
  margin-top: 32px;
}

.contact-form__label {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background: rgba(104, 104, 104, 0.7);
  height: 40px;
  line-height: 40px;
  text-align: center;
  position: relative;
}

@media (max-width: 767px) {
  .contact-form__label {
    display: inline-block;
    text-align: left;
    padding: 0 16px;
  }
}

@media (min-width: 1200px) {
  .contact-form__label::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: -8px;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent #8F8D8D;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .contact-form__label::after {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: -8px;
    border-style: solid;
    border-width: 20px 0 20px 8px;
    border-color: transparent transparent transparent #8F8D8D;
  }
}

.contact-form__label .contact-form__item {
  font-size: 12px;
  vertical-align: super;
  line-height: 1;
}

.contact-form__label label {
  display: inline-block;
  width: 180px;
  height: 40px;
}

@media (max-width: 767px) {
  .contact-form__label label {
    width: 100%;
  }
}

.contact-form__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  position: relative;
}

@media (max-width: 767px) {
  .contact-form__input {
    margin: 3px 0 0;
  }
}

.contact-form__input [type="text"] {
  -webkit-box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
  border: none;
  background: #fff;
  height: 40px;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  width: 100%;
}

.contact-form__input [type="email"] {
  -webkit-box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
  border: none;
  background: #fff;
  height: 40px;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  width: 100%;
}

.contact-form__input [type="tel"] {
  -webkit-box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
  border: none;
  background: #fff;
  height: 40px;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  width: 100%;
}

.contact-form__input [type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-form__input [type="radio"]:checked + .contact-form__parts {
  background: rgba(104, 104, 104, 0.7);
  color: #fff;
  border-radius: 1px;
}

.contact-form__input [type="radio"]:focus-visible + .contact-form__parts {
  outline: -webkit-focus-ring-color auto 1px;
}

.contact-form__input .contact-form__parts {
  display: block;
  background: #fff;
  color: rgba(104, 104, 104, 0.7);
  height: 38px;
  line-height: 38px;
  width: 80px;
  text-align: center;
  -webkit-transition: background-color .4s, color .4s;
  transition: background-color .4s, color .4s;
}

.contact-form__input .contact-form__radio-wrap {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #fff;
  border-radius: 1px;
  -webkit-box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
          box-shadow: 5px 6px 16px rgba(96, 96, 96, 0.16);
}

.contact-form__input textarea {
  min-height: 120px;
  resize: vertical;
  -webkit-box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
          box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.16);
  border: none;
  background: #fff;
  height: 40px;
  padding: 10px 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 18px;
  width: 100%;
}

.contact-form__check {
  margin-top: 33px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-form__check {
    margin-top: 27px;
  }
}

.checkbox-wrap {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 22px;
  width: 22px;
}

.checkbox-wrap [type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.checkbox-wrap [type="checkbox"]:checked + .checkbox-parts {
  width: 10px;
  border-top: 0;
  border-left: 0;
  border-right: 4px solid rgba(104, 104, 104, 0.7);
  border-bottom: 4px solid rgba(104, 104, 104, 0.7);
  background: transparent;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -5px;
  left: 5px;
}

.checkbox-wrap [type="checkbox"]:focus-visible + .checkbox-parts {
  outline: -webkit-focus-ring-color auto 1px;
}

.checkbox-wrap [type="checkbox"]:checked:focus-visible + .checkbox-parts {
  outline: none;
}

.checkbox-parts {
  position: absolute;
  display: inline-block;
  height: 22px;
  width: 22px;
  border: 1px solid rgba(104, 104, 104, 0.7);
  background: #fff;
  top: 0;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.contact-form__button {
  margin-top: 51px;
  text-align: center;
}

@media (max-width: 767px) {
  .contact-form__button {
    margin-top: 29px;
  }
}

.contact-form__button [type="submit"] {
  display: inline-block;
  background: #fff;
  border: 1px solid rgba(104, 104, 104, 0.7);
  border-radius: 0;
  color: #686868;
  width: 137px;
  height: 46px;
  font-size: 14px;
  font-family: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  font-weight: 700;
}

.contact-form__button [type="submit"].-active {
  background: rgba(104, 104, 104, 0.7);
  color: #fff;
}

.contact-form__privacy {
  color: #686868;
  font-size: 18px;
  text-shadow: #fff 1px 1px;
}

.contact__message {
  text-align: center;
  margin-top: 60px;
  display: none;
}

.contact__message.-error {
  color: #f00;
}

/*====================================================================================
#	footer
===================================================================================== */
.footer__content {
  padding: 30px;
  background-color: #F4F4F4;
}

.footer__logo {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 40px;
  text-align: center;
  line-height: 1;
}

.footer__nav-item {
  margin-top: 10px;
  text-align: center;
}

.footer__nav-link {
  text-decoration: none;
  font-size: 14px;
}

.footer__copy {
  padding: 25px;
  text-align: center;
  background-color: rgba(104, 104, 104, 0.7);
  color: #fff;
  font-size: 12px;
}

/*====================================================================================
#	totop
===================================================================================== */
.to-top {
  position: fixed;
  right: 24px;
  bottom: 5px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .to-top {
    right: 15px;
    bottom: 5px;
  }
}

.to-top.is-show {
  opacity: 1;
  visibility: visible;
}

.to-top a {
  text-decoration: none;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.to-top a:hover {
  opacity: 0.7;
}

.to-top a img {
  width: 20px;
}

@media (max-width: 767px) {
  .to-top a img {
    width: 13px;
  }
}
